# Yönlendirmeleri aktif eder
RewriteEngine on

# Hata Yönlendirmeler
ErrorDocument 404 /404.php

# Direkt Yönlendirmeler
RewriteRule ^404$ 404.php [L,QSA]



# Yeni bir yönlendirme kuralı ekliyoruz
RewriteRule ^page/([^/_.]+)/$  index.php?page=$1 [L,QSA]
RewriteRule ^page/([^/_.]+)$  index.php?page=$1 [L,QSA]
RewriteRule ^page/$  index.php?page=1 [L,QSA]
RewriteRule ^page$  index.php?page=1 [L,QSA]

RewriteRule ^search/([^/_.]+)/page/([^/_.]+)$ search.php?search=$1&page=$2 [L,QSA]
RewriteRule ^search/([^/_.]+)/page/$ search.php?search=$1&page=1 [L,QSA]
RewriteRule ^search/([^/_.]+)/page$ search.php?search=$1&page=1 [L,QSA]
RewriteRule ^search/([^/_.]+)/$ search.php?search=$1&page=1 [L,QSA]
RewriteRule ^search/([^/_.]+)$ search.php?search=$1&page=1 [L,QSA]

RewriteRule ^post/([^/_.]+)/$  post.php?link=$1 [L,QSA]
RewriteRule ^post/([^/_.]+)$  post.php?link=$1 [L,QSA]


